*.exe
*.obj
a.out
.vs/*
vcpkg_installed/*
*/Google_tests/lib/*
/.idea/
/vcpkg.C.ProgramFiles.MicrosoftVisualStudio.2022.Community.VC.vcpkg.1.0.0.nupkg

/build/*
!/build/.gitkeep
*.log
*.user
*.suo
*.pdb
*.ipch
*.aps
*.ncb
*.opendb
*.tlog
*.lastbuildstate
*.idb
*.iobj
*.iuser
*.cache
*.db
*.sdf
*.VC.db
*.VC.VC.opendb
*.ilk
*.meta
*.objects
*.pch
*.res
*.tlh
*.tli
*.tmp
*.unsuccessfulbuild
*.log
*.vspscc
*.vssscc
*.class
*.vcpkg.json
